.card {
  position: relative;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 1.2rem;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .card {
    height: 255px;          // 👉 cartes plus petites en mobile
    border-radius: 10px;
  }

  .card__title {
    font-size: 1rem;        // 👉 texte légèrement plus petit
    bottom: 10px;
    left: 10px;
    width: 80%;
    line-height: 1.2;
    font-weight: 400;
  }
}
