.collapse {
  width: 100%;
  border-radius: $collapse-radius;
  overflow: hidden;

  /* HEADER */
  &__header {
    background-color: $collapse-header-bg;
    color: $collapse-header-color;

    font-size: 24px;      
    font-weight: 600;     
    padding: 10px 24px;   

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  /* CONTENT */
  &__content {
    background-color: $collapse-content-bg;

    font-size: 16px;      
    line-height: 1.6;     
    padding: 22px 24px;   
    color: #d94c4c;       
  }

  /* ARROW */
  .arrow {
    width: $collapse-arrow-size-desktop;
    transition: transform 0.3s ease;

    &--open {
      transform: rotate(180deg);
    }
  }

  /* ----------------------------- */
  /* RESPONSIVE                    */
  /* ----------------------------- */
  @media (max-width: $break-mobile) {
    &__header {
      padding: 12px 15px;
      font-size: $collapse-header-font-size-mobile;
    }

    &__content {
      padding: 15px;
      font-size: $collapse-content-font-size-mobile;
    }

    .arrow {
      width: $collapse-arrow-size-mobile;
    }
  }
}
