.footer {
  width: 100%;
  background-color: black;
  color: white;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 34px;
}
.footer__logo {
  filter: brightness(0) invert(1);/* rend le logo blanc */
}
@media (max-width: 768px) {
  .footer {
    height: 150px;            // footer plus compact
    gap: 10px;                // moins d’espace
    padding: 20px 0;          // padding mobile
  }

  .footer__logo {
    width: 100px;             // logo plus petit en mobile
  }

  .footer p {
    font-size: 12px;          // texte plus petit
    text-align: center;
    width: 80%;
    line-height: 1.3;
  }
}
