.footer {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  background-color: $footer-bg;
  color: $footer-text-color;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $footer-gap-desktop;

  padding: 40px 0;

  &__logo {
    filter: brightness(0) invert(1);
  }

  p {
    text-align: center;
  }

@media (max-width: $break-mobile) {
  .footer {
    gap: 15px;            
    padding: 40px 0;      
  }

  .footer__logo {
    width: $footer-logo-size-mobile;  
  }

  p {
    font-size: $footer-text-size-mobile;
    width: 80%;
    line-height: 1.4;     
  }
}
}
