.header {
  width: 100%;  
  padding: 30px 80px;    
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: $logo-height-desktop;
  }

  nav {
    display: flex;
    gap: $nav-gap-desktop;

    a {
      font-size: $nav-font-size;
      font-weight: 500;
      color: $nav-color;
      text-decoration: none;

      &.active {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px;  
  }


  .header .logo {
    height: $logo-height-mobile;
  }

  .header nav {
    gap: $nav-gap-mobile;
  }
}
