.rating {
  display: flex;
  gap: 5px;

  .star {
    font-size: $rating-star-size-desktop;
    color: $rating-star-color-empty;
    margin-top: 41px;

    &.filled {
      color: $rating-star-color-filled;
    }
  }

  /* ----------------------------- */
  /* RESPONSIVE                    */
  /* ----------------------------- */
  @media (max-width: $break-mobile) {
    gap: 3px;

    .star {
      font-size: $rating-star-size-mobile;
    }
  }
}
