.tag {
  background-color: $tag-bg;
  color: $tag-text-color;

  padding: $tag-padding-desktop;
  border-radius: $tag-radius-desktop;

  font-size: $tag-font-size-desktop;
  font-weight: 500;

  display: inline-block;
  white-space: nowrap;

  /* ----------------------------- */
  /* RESPONSIVE                    */
  /* ----------------------------- */
  @media (max-width: $break-mobile) {
    font-size: $tag-font-size-mobile;
    padding: $tag-padding-mobile;
    border-radius: $tag-radius-mobile;
  }
}
