.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;
   align-items: center;
  gap: $about-gap-desktop;
}

.about-collapses {
  width: 85%;
   max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: $about-collapses-gap-desktop;
}


.about-collapses {
  gap: 35px;
}



/* ----------------------------- */
/* RESPONSIVE                    */
/* ----------------------------- */
@media (max-width: $break-mobile) {

.about-page {
  gap: $about-gap-mobile;
}

 .about-collapses {
    gap: $about-collapses-gap-mobile;
  }
}
