.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 10px 0 60px;
}

.about-collapses {
  width: 100%;
  max-width: 1023px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {

  .about-page {
    gap: 20px;                 // moins d’espace en mobile
    margin: 0 0 40px;          // marge plus compacte
    padding: 0 10px;           // léger padding mobile
  }

  .about-collapses {
    gap: 20px;                 // collapses plus rapprochés
    width: 100%;               // full width en mobile
  }
}
