.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;

  .banner {
    width: 100%;
  }

  .cards-container {
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 25px;
    padding: 50px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (max-width: $break-mobile) {
    .cards-container {
      background-color: transparent;
      padding: 0;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
