/* ---------------------- */
/* RESET GLOBAL           */
/* ---------------------- */

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* ---------------------- */
/* COMPONENTS             */
/* ---------------------- */

@import "./components/header";
@import "./components/footer";
@import "./components/banner";
@import "./components/card";
@import "./components/carousel";
@import "./components/tag";
@import "./components/host";
@import "./components/rating";
@import "./components/collapse";

/* ---------------------- */
/* PAGES                  */
/* ---------------------- */

@import "./pages/home";
@import "./pages/logement";
@import "./pages/about";
@import "./pages/error";

